header {
    display: flex;
    justify-content: space-around;
    background-color: #222222;
    align-items: center;
}

.logo {
    display: flex;
    color: white;
}

.links {
    display: flex;
    a:link {text-decoration: none; }
    list-style-type: none;
    gap: 15px;
}

.links a {
    color: white;
}

/* header css */

.media {
    display: flex;
    justify-content: center;
    padding: 60px;
    background-color: #222222;
    color: white;
    height: 150px;
    gap: 20px;
}

.media.content {
    display: flex;
    flex: 1;
}

.media img {
    object-fit: contain;
}

.media button {
    background-color: #5A93DB;
    color: white;
}

/* #section 2 css */

.section3 {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.section3 img {
    height: 200px;
    width: 200px;
    border: blue solid 4px;

}

.part1, .part2, .part3, .part4 {
    display: flex;
    flex-direction: column;
}

.section3 p{
    flex: 0;
}

.s3 {
    margin-bottom: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section4 {
    display: flex;
    padding: 100px;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #E5E7EB;
}

.container {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;

}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.section5 {
    display: flex;
    margin: 50px;
    background-color: #3882F6;
}

.section5 .cta {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color: white;

}

.signup {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.section5 button {
    width: 130px;
    height: 40px;
    color: white;
    border: white solid 1px;
    background-color: #3882F6;
    margin: 0;
    padding: 0;
}

footer {
    background-color: #222222;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 20px;
}